.banner {
  position: relative;
  z-index: 1;
  padding-block: 5.625rem;
  text-align: center;
  background-color: hsl(var(--color-primary-dark-violet));
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  line-height: 3rem;
  color: hsl(var(--color-neutral-100));
}

@media only screen and (min-width: 768px) {
  .banner {
    padding-block: 3.625rem;
  }

  .banner::before {
    background-image: url('/src/assets/bg-boost-desktop.svg');
  }

  .banner__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

.footer {
  background-color: hsl(var(--color-neutral-500));
}

.contact-row {
  padding: 3.375rem 1.5rem 3.5rem;
}

.footer__nav {
  display: flex;
  gap: 2.5rem;
}

.footer__nav p {
  margin-bottom: 1.375rem;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(var(--color-neutral-100));
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer__item a {
  color: hsl(var(--color-neutral-200));
  transition: color 300ms ease;
}

.footer__item a:hover {
  color: hsl(var(--color-primary-cyan));
}

.footer__social {
  display: flex;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__social a {
  display: inline-flex;
}

.footer__social a path {
  transition: fill 300ms ease;
}

.footer__social a:hover path {
  fill: hsl(var(--color-primary-cyan));
}

@media only screen and (max-width: 767px) {
  .footer__nav {
    margin-block: 3rem;
  }

  .contact-row {
    text-align: center;
  }

  .footer__nav {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .contact-row :global(.container) {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
  }

  .footer__nav {
    gap: 3.75rem;
  }

  .footer-nav-container {
    width: 8.125rem;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .footer__nav {
    margin-inline: auto 3.75rem;
  }
}
