.card {
  margin-top: 1.5rem;
  background-color: hsl(var(--color-neutral-100));
  border-radius: 0.3125rem;
}

.card p {
  font-size: 1rem;
  line-height: 2.25rem;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.card__source {
  padding: 0.375rem 1rem;
  color: hsl(var(--color-neutral-400));
  border-bottom: 1px solid hsla(var(--color-neutral-300), 0.25);
}

.card__link {
  padding: 0.375rem 1rem 1rem;
  color: hsl(var(--color-primary-cyan));
}

.card__button {
  width: 100%;
}

.card__button[data-copy='true'] {
  background-color: hsl(var(--color-primary-dark-violet));
}

@media only screen and (min-width: 768px) {
  .card,
  .card__link {
    display: flex;
    justify-content: space-between;
  }

  .card {
    padding: 1rem 1.5rem;
  }

  .card p {
    font-size: 1.25rem;
  }

  .card__source,
  .card__link {
    padding: 0;
  }

  .card__link {
    gap: 1.5rem;
  }

  .card__source {
    padding-left: 0.5rem;
    border: none;
  }

  .card__button {
    width: 6.375rem;
  }
}
