@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --color-primary-cyan: 180, 66%, 49%;
  --color-primary-dark-violet: 257, 27%, 26%;
  --color-secondary-red: 0, 87%, 67%;
  --color-neutral-500: 260, 8%, 14%;
  --color-neutral-400: 255, 11%, 22%;
  --color-neutral-300: 257, 7%, 63%;
  --color-neutral-200: 0, 0%, 75%;
  --color-neutral-100: 0, 0%, 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: hsl(var(--color-neutral-300));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.container {
  margin-inline: auto;
  max-width: 69.375rem;
}

h1, h2, h3 {
  color: hsl(var(--color-neutral-400));
}
